*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px
}
.box{
  
    height: 150px;
    background-color: aqua;
   
}
.box-1{
    background: chartreuse;
    grid-column: 1/span 2;
}
